#preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.outer-wrapper {
  display: none;
}

body {
  background-color: #424242;
}

header {
    margin-bottom: 20px;
}

.vertical-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    text-align: center;
}

#streamer_name {
    margin-left: 15px;
}

#user_profile img {
    vertical-align: middle;
}

#user_quit a:hover {
    background-color: transparent;
}

.dashboard {
    margin-bottom: 40px;
}

.modal.modal-fixed-footer {
  height: 45%;
}

.inputpolloption {
    display: flex;
}

.input-field .prefix.active {
  color: green;
}

.modal-trigger {
  width: 149px;
}

.chip {
    margin: 0px 10px 15px 5px;
    float: left;
    font-size: 1.2em;
    background-color: #f1f1f1;
}

.pollitems {
  margin-top: 10px;
  margin-bottom: 20px;
}

#poll_display{
  padding-right: 5px;
  font-size: 12px;
}
#right3{
  padding-top: 0px;
  padding-right: 20px;
  text-align: left;
}
#poll_display_header{
  font-size: 15px;
}

#right3_collapsible_body{

}
#modal_poll_content{
  text-align: center;
}
