header {
    margin-bottom: 20px;
}

.vertical-align {
    display: flex;
    justify-content: center;
    align-items: center;
/*height: 60px;*/
}

.col {
    text-align: center;
}

#streamer_name {
    margin-left: 15px;
}

#user_profile img {
    vertical-align: middle;
}

#user_quit a:hover {
    background-color: transparent;
}

#page_title {
/*color: #0277bd;*/
    font-weight: 700;
    border-bottom: #0277bd 2px solid;
    padding: 4px 0 2px;
    margin: 0 0 22px;
}

.dashboard {
    margin-bottom: 40px;
}

.inputpolloption {
    display: flex;
}

.pollbuttons {
    margin: auto;
    text-align: right;
}

.chip {
    border-width: 1px;
    border-color: #8ACFC8;
    border-style: solid;
    margin-bottom: 5px;
    background-color: #F6F6F6;
    display: block;
}

.pollitems {
    padding-top: 10px;
}

#deloptbtn {
    padding:0;
}

/*#deloptbtn:hover {
    font-size: 16px;
}*/
