<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>FCCBOT- Dashboard</title>
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="vendor.min.css">
  <link rel="stylesheet" href="styles.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

  <div id="preloader">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-green-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="outer-wrapper">
    <!-- NAVBAR -->
    <header>
      <nav class="grey darken-4">
        <div class="container nav-wrapper">
          <ul class="left">
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">How to start streaming</a>
            </li>
            <li>
              <a href="">Help</a>
            </li>
            <li>
              <a href="">About</a>
            </li>
          </ul>
          <ul class="right">
            <li>
              <div id="user_profile"><img class="circle img-responsive" src="https://static-cdn.jtvnw.net/jtv_user_pictures/freecodecamp-profile_image-d9514f2df0962329-300x300.png" style="width:35px; height:35px;"></div>
            </li>
            <li id="user_quit">
              <a href="#">Sign Out</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <section class="container dashboard">
      <div class="row">
        <div id="streamer_info" class="col s12 m4 l3">
          <div class="card-panel">
             <div class="valign-wrapper vertical-align">
                 <img class="circle img-responsive" id="streamer_image" src="https://static-cdn.jtvnw.net/jtv_user_pictures/freecodecamp-profile_image-d9514f2df0962329-300x300.png" style="width:50px; height:50px;">
                 <span id="streamer_name">FreeCodeCamp</span>
            </div>
          </div>
        </div>
        <div id="channel_title_info" class="col s12 m8 l6">
          <!-- Channel Title Set -->
          <form class="col s12">
            <div class="card-panel">
              <div class="row">
                <div class="input-field col s12 l10">
                  <input id="channel_title" placeholder="Stream Title" required>
                </div>
                <div class="input-field col s12 l2">
                  <button class="col s12 12 btn waves-effect waves-light green darken-3" name="action" type="submit">
                    <i class="material-icons dp48">launch</i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col s12 m4 l3">
          <div class="card-panel">
            <!-- Switch -->
            <div class="switch">
              <label>
                Off
                <input type="checkbox">
                <span class="lever"></span>
                On
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 l3">
          <div>
            <div class="card-panel"></div>
          </div>
          <div>
            <div class="card-panel"></div>
          </div>
        </div>
        <div class="col s12 l6">
          <div class="card-panel">
            <div id="chat_window">
              <iframe frameborder="0" height="350" id="chat_embed" name="chat_embed" scrolling="no" src="//www.twitch.tv/freecodecamp/chat" width="100%"></iframe>
            </div>
          </div>
          <div class="card-panel">
            Event Log
          </div>
        </div>
        <div class="col s3" id="right2"></div>
        <div class="col s12 l3" id="right3">
          <div class="card-panel">
            <button class="btn modal-trigger green darken-3" data-target="modal1">New Poll</button>
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">equalizer</i><span class="right3_collapsible_header"></span>
                </div>
                <div class="collapsible-body">
                  <ul class="collection" id="right3_collapsible_body"></ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal modal-fixed-footer" id="modal1">
          <div class="modal-content">
            <div class="input-field col s10" id="modal_poll_content">
              <i class="material-icons prefix">assessment</i>
              <input id="poll_question" type="text" value="Poll">
              <label for="poll_question">Poll Title</label>
            </div>

            <div class="input-field col s10" id="modal_poll_content">
              <i class="material-icons prefix">add_to_photos</i>
              <input id="poll_item_input" type="text">
              <label for="poll_item_input">Add Poll options</label>
            </div>

            <div class="col s10 pollitems"></div>
          </div>
          <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat" id="submit_poll">Submit</a>
            <a class="waves-effect waves-red btn-flat" id="deloptbtn">Clear</a>
          </div>
        </div>
      </div>
    </section>
    <footer class="page-footer grey darken-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2016 Copyright <a class="grey-text text-lighten-4 right" href="https://github.com/thejonathangraham/fccbot" target="_blank">Github</a>
        </div>
      </div>
    </footer>
  </div>


  <script type="text/javascript" src="vendor.min.js"></script>
  <script type="text/javascript" src="main.min.js"></script>
</body>

</html>
