<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>

  <% include partials/header %>

  <a type="submit" href="/auth/twitchtv">Login</a>

  <% include partials/footer %>

  <script type="text/javascript" src="vendor.min.js"></script>
  <script type="text/javascript" src="main.min.js"></script>
</body>

</html>
