<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>FCCBOT- Dashboard</title>
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="vendor.min.css">
  <link rel="stylesheet" href="styles.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

  <a type="submit" href="/auth/twitchtv">Login</a>

  <script type="text/javascript" src="vendor.min.js"></script>
  <script type="text/javascript" src="main.min.js"></script>
</body>

</html>
