header {
    margin-bottom: 20px;
}

.vertical-align {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 60px;*/
}

.col {
    text-align: center;
}

#streamer_name {
    margin-left: 15px;
}

#user_profile img {
    vertical-align: middle;
}

#user_quit a:hover {
    background-color: transparent;
}

#page_title {
    /*color: #0277bd;*/
    font-weight: bold;
    border-bottom: #0277bd 2px solid;
    padding: 4px 0 2px 0;
    margin: 0 0 22px 0;
}

.dashboard {
    margin-bottom: 40px;
}