header {
    margin-bottom: 20px;
}

.vertical-align {
    display: flex;
    justify-content: center;
    align-items: center;
/*height: 60px;*/
}

.col {
    text-align: center;
}

#streamer_name {
    margin-left: 15px;
}

#user_profile img {
    vertical-align: middle;
}

#user_quit a:hover {
    background-color: transparent;
}

.dashboard {
    margin-bottom: 40px;
}

.modal.modal-fixed-footer {
  height: 45%;
}

.inputpolloption {
    display: flex;
}

.chip {
    margin: 0px 10px 15px 5px;
    float: left;
    font-size: 1.2em;
    background-color: #f1f1f1;
}

.pollitems {
  margin-top: 10px;
  margin-bottom: 20px;
}

#poll_display{
  padding-right: 5px;
  font-size: 12px;
}
#right3{
  padding-top: 0px;
  padding-right: 20px;
  text-align: left;
}
#poll_display_header{
  font-size: 15px;
}

#right3_collapsible_body{

}
#modal_poll_content{
  text-align: center;
}
