.vertical-align {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.col {
    text-align: center;
}

#streamer_name {
    margin-left: 15px;
}

#user_profile img {
    vertical-align: middle;
}

#user_quit a:hover {
    background-color: transparent;
}